@model PedidoViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="alert alert-success alert-dismissible fade show mt-4 mb-0 d-none" id="alerta" role="alert">
        <p class="mb-0"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <button type="button" class="btn btn-success my-4 addNovoModal">Novo pedido</button>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Cliente Id</th>
                <th>Produto Id</th>
                <th>Quantidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody id="listaPedidos"></tbody>
    </table>
</div>

<div class="modal fade" id="cadastroModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal">Novo pedido</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-danger text-center d-none" id="alertaErro">
                    <h6>Preencha todos os campos.</h6>
                </div>
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Cliente_Id"></label>
                        <input asp-for="Cliente_Id" type="text" class="form-control input" id="Cliente_Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Produto_Id"></label>
                        <input asp-for="Produto_Id" class="form-control input" id="Produto_Id" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade"></label>
                        <input asp-for="Quantidade" type="email" class="form-control input" id="Quantidade" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd">Cadastrar</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;">Salvar</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Excluir pedido ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">Não</button>
                <button type="submit" class="btn btn-success" id="submitYes">Sim</button>
            </div>
        </div>
    </div>
</div>


<script>
     $(document).ready(function () {
            listarPedidos();
        });

        function listarPedidos() {
            $.ajax({
                url: '@Url.Action("ListarTodosPedidos", "CadastroPedido")',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (resultado) {
                    let html = '';
                    if (resultado == 0) {
                        html += `<tr>
                            <td colspan="5" class="text-center">Não há produtos cadastrados</td>
                            </tr>`;
                    } else {
                        $.each(resultado, function (i, pedido) {
                            html += `<tr>
                            <td>${pedido.cliente_Id}</td>
                            <td>${pedido.produto_Id}</td>
                            <td>${pedido.quantidade}</td>
                            <td>
                                <a href="#" class="btn btn-primary" id="editarModal" onclick="editarPedido(${pedido.id})">Editar</a>
                                <a href="#" class="btn btn-danger" id="deletarModal" onclick="deletarPedido(${pedido.id})">Deletar</a>
                            </td>
                            </tr>
                            `
                        });
                    }
                    $("#listaPedidos").html(html);
                }
            });
        }

        $(".addNovoModal").click(function () {
            resetarCampos();
            $("#cadastroModal").modal("show");
            $("#tituloModal").html("Cadastrar pedido");
            $('#btnUpdate').hide();
            $('#btnAdd').show();
        });

        $("#btnAdd").click(function () {
            if (validarForm() == false) {
                return;
            }

            let pedido = {
                Cliente_Id: $('#Cliente_Id').val(),
                Produto_Id: $('#Produto_Id').val(),
                Quantidade: $('#Quantidade').val(),
            };

            $.ajax({
                url: '@Url.Action("CadastrarPedido", "CadastroPedido")',
                type: "POST",
                data: pedido,
                headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function () {
                    $("#cadastroModal").modal("hide");

                    listarPedidos();
                    ExibirAlerta("Pedido cadastrado");
                },
                error: function () {
                    alert("Não foi possível adicionar o pedido.")
                }
            });
        });

        function editarPedido(id) {
            resetarCampos();
            $("#tituloModal").html("Editar pedido");

            $.ajax({
                url: '@Url.Action("ListarPedidoPeloId", "CadastroPedido")/' + id,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (pedido) {
                    $('#Cliente_Id').val(pedido.cliente_Id);
                    $('#Produto_Id').val(pedido.produto_Id);
                    $('#Quantidade').val(pedido.quantidade);

                    $("#cadastroModal").modal("show");
                    $('#btnUpdate').show();
                    $('#btnAdd').hide();

                    listarPedidos();
                },
                error: function() {
                    alert("Não foi possível recuperar as informações do pedido");
                }
            });
        }

        $("#btnUpdate").click(function () {
            if (validarForm() == false) {
                return;
            }
              let pedido = {
                    Cliente_Id: $('#Cliente_Id').val(),
                    Produto_Id: $('#Produto_Id').val(),
                    Quantidade: $('#Quantidade').val(),
                };

            $.ajax({
                url: '@Url.Action("AtualizarPedido", "CadastroPedido")',
                dataType: "json",
                type: "POST",
                data: pedido,
                headers: {
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function () {
                    ExibirAlerta("Pedido atualizado");

                    $("#cadastroModal").modal("hide");
                    resetarCampos();
                    listarPedidos();
                },
                error: function() {
                    alert("Não foi possível atualizar o pedido");
                }
            });
        });

        function deletarCliente(id) {
            $("#deleteModal").modal("show");

                $("#submitYes").click(function () {
                    $.ajax({
                        url: '@Url.Action("DeletarPedido", "CadastroPedido")/' + id,
                        type: "POST",
                        success: function () {
                            ExibirAlerta("Pedido excluído");
                            $("#deleteModal").modal("hide");

                            listarPedidos();
                        },
                    error: function() {
                        alert("Erro ao excluir pedido");
                        }
                });
            });
        }

        function ExibirAlerta(texto) {
            $("#alerta").removeClass('d-none');
            $("#alerta").addClass('d-block');
            $("#alerta p").text(texto);

            setTimeout(function () {
                $("#alerta").removeClass('d-block');
                $("#alerta").addClass('d-none');
            }, 3000);
        }

        function resetarCampos() {
            $("#alertaErro").removeClass('d-block');
            $("#alertaErro").addClass('d-none');
            $('#Cliente_Id').val("");
            $('#Produto_Id').val("");
            $('#Quantidade').val("");
            let inputs = document.querySelectorAll('.input');

            inputs.forEach(function (k, index) {
                inputs[index].style.borderColor = 'lightgrey';
            });
        }

        function validarForm() {
            let inputs = document.querySelectorAll('.input');
            let isValid = true;

            inputs.forEach(function (k, index) {
                if (inputs[index].value.trim() == "") {
                    inputs[index].style.borderColor = 'red';
                    $("#alertaErro").removeClass('d-none');
                    $("#alertaErro").addClass('d-block');
                    isValid = false;
                } else {
                    inputs[index].style.borderColor = 'lightgrey';
                }
            });
            return isValid;
        }


</script>

